.navbar{
    position: fixed;
    background: #010224;
    width: 100%;
    height: 80px;
    color: var(--letra-color-texto-blaco);
    font-family: Arial;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagenlogo{
    color: blueviolet;
    background-image: url('../images/botnav copy.png');
    width: 100px;
    height: 70px;
    background-position: center;
}
.inciarsec{
    font-size: 20px;
}
.nombrenav{
    font-size: 50px;
}
.serachbar{
    width: 400px;
    height: 20px;
    padding: 10px;
}
